FORMAT: 1A

HOST: https://private-8e550-directmail.apiary-mock.com

# Adbuilder API Documentation

The Adbuilder API 1.0 reference
(Alt-0 collapses all on Windows)
(Command-Option-Control-0 collapses all on Mac)


## Authentication

# OAuth 2
This API Blueprint showcases OAuth 2.

## OAuth token exchange [/oauth/token]
Exchange credentials for `access_token`. Supported types:

+ `client_credentials`
+ TBD

### Exchange credentials for token [POST]
+ Request
    + Attributes (OAuth grant request)
    + Headers

            Authorization: Basic ABCDEF

+ Response 200 (application/json)
    + Attributes (OAuth valid response)

+ Request
    + Attributes (OAuth bearer grant request)

+ Response 200 (application/json)
    + Attributes (OAuth valid response)

## OAuth 2 Bearer Token protected resource [/protected]
### Status [GET]
+ Request
    + Headers

            Authentication: Bearer

+ Response 200 (application/json)
    + Attributes (Server response)

# Data Structures
## OAuth grant request (object)
+ `grant_type`: `client_credentials` (string, required)

## OAuth bearer grant request (object)
+ `grant_type`: `urn:ietf:params:oauth:grant-type:bearer` (string, required)
+ assertion: `eyJhbGciOiJIUzI1NiJ9.e30.XmNK3GpH3Ys_7wsYBfq4C3M6goz71I7dTgUkuIa5lyQ` (string, required)

## OAuth valid response (object)
+ `access_token`: `eyJhbGciOiJIUzI1NiJ9.e30.XmNK3GpH3Ys_7wsYBfq4C3M6goz71I7dTgUkuIa5lyQ` (string, required)
+ scope: all (string, required) - scopes of current token
+ `expires_in`: 300 (number, required)
+ `token_type`: Bearer (string, required)

## Server response (object)
+ status: ok (string, required)


## Custom Field Data Types
**Integer/Number**

Must be whole digits: e.g.
`"integer--Smog-Level": 4`

They can also be specified as strings as long as there is nothing other than the number in the field, e.g.
`"integer--Smog--Level": "Monkey" --- this would cause an error`
`"integer--Smog--Level": "2567" --- this is fine`
`"integer--Smog--Level": "$2567" --- this would cause an error`

Note that passing through null is also acceptable for any kind of field, including numbers. 
This means the field would be considered "blank".

**Floats/Number**

Floats with decimal must be a valid number: e.g.
`"float--Smog--Level": 4.01`

They can also be specified as strings as long as there is nothing other than the number in the field, e.g.
`"integer--Smog--Level": "Monkey" --- this would cause an error`
`"integer--Smog--Level": "2567.58" --- this is fine`
`"integer--Smog--Level": "2567" --- this is also fine`

Note that passing through null is also acceptable for any kind of field, including floats. This means the field 
would be considered "blank".

**Strings**

Strings are pretty straight-forward: e.g. 
`"string--My--String": "Hello how are you going"`

We accept any valid UTF-8 string.

**Dates**

Please see the next section of this document for a full description of dates.

## Date Formats
We accepts dates in the ISO8601 format. Here is a description of the format for dates as 
used in the API taken directly from the standard:


The formats are as follows. 

Exactly the components shown here must be present, with exactly this punctuation. 
Note that the "T" appears literally in the string, to indicate the beginning of the time element, 
as specified in ISO 8601.


`Complete date: YYYY-MM-DD (eg 2018-07-16)`

`Complete date plus hours and minutes: YYYY-MM-DDThh:mmTZD (eg 2018-07-16T19:20+01:00)`

`Complete date plus hours, minutes and seconds: YYYY-MM-DDThh:mm:ssTZD (eg 2018-07-16T19:20:30+01:00)`

`Complete date plus hours, minutes, seconds and a decimal fraction of a second YYYY-MM-DDThh:mm:ss.sTZD (eg 2018-07-16T19:20:30.45+01:00)`

Where:

* YYYY = four-digit year
* MM   = two-digit month (01=January, etc.)
* DD   = two-digit day of month (01 through 31)
* hh   = two digits of hour (00 through 23) (am/pm NOT allowed)
* mm   = two digits of minute (00 through 59)
* ss   = two digits of second (00 through 59)
* s    = one or more digits representing a decimal fraction of a second
* TZD  = time zone designator (Z or +hh:mm or -hh:mm)
     
There are two ways of handling time zone offsets:

Times are expressed in UTC (Coordinated Universal Time), with a special UTC designator ("Z"). 
Times are expressed in local time, together with a time zone offset in hours and minutes. 
A time zone offset of "+hh:mm" indicates that the date/time uses a local time zone which 
is "hh" hours and "mm" minutes ahead of UTC. A time zone offset of "-hh:mm" indicates that 
the date/time uses a local time zone which is "hh" hours and "mm" minutes behind UTC.


Examples of valid dates are:

`"Birthday": "2018-12-01"`

`"Appointment": "2018-10-10T13:50:00Z"`


We also accept dates in simple American format such as:

`"SomeDate":"12/30/2018"`


## Error States

The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used.


# Group Products
Group of all product-related resources.

price
This variant's base price on the storefront. If a Price List ID is used, the Price List value will be used. If a Price List ID is not used, and this value is null, the product's default price (set in the Product resource's price field) will be used as the base price.

sale_price
This variant's sale price on the storefront. If a Price List ID is used, the Price List value will be used. If a Price List ID is not used, and this value is null, the product's sale price (set in the Product resource's price field) will be used as the sale price.

retail_price
This variant's retail price on the storefront. If a Price List ID is used, the Price List value will be used. If a Price List ID is not used, and this value is null, the product's retail price (set in the Product resource's price field) will be used as the retail price.

weight
This variant's base weight on the storefront. If this value is null, the product's default weight (set in the Product resource's weight field) will be used as the base weight.

width
Width of the variant, which can be used when calculating shipping costs. If this value is null, the product's default width (set in the Product resource's width field) will be used as the base width.

height
Height of the variant, which can be used when calculating shipping costs. If this value is null, the product's default height (set in the Product resource's height field) will be used as the base height.

is_free_shipping
Flag used to indicate whether the variant has free shipping. If true, the shipping cost for the variant will be zero.

fixed_cost_shipping_price
A fixed shipping cost for the variant. If defined, this value will be used during checkout instead of normal shipping-cost calculation.

purchasing_disabled
If true, this variant will not be purchasable on the storefront.

purchasing_disabled_message
If purchasing_disabled is true, this message should show on the storefront when the variant is selected.

image_url
The image that will be displayed when this variant is selected on the storefront. When updating a SKU image, send the publicly accessible URL. Supported image formats are JPEG, PNG, and GIF. Generic product images not specific to the variant should be stored on the product.

option_values (array)
    Example array:
        "option_values": [
            {
              "option_display_name": "Color",
              "label": "Color",
              "id": 107,
              "option_id": 124
            }
        ]

calculated_price
The price of the variant as seen on the storefront. This price takes into account sale_price and any price adjustment rules that are applicable to this variant.

## Products [/v1/products/{product_id}]

The Product object.

+ Model (application/json)

    + Body
        
                {
                    "id": "1111111",
                    "name": "",
                    "description": "",
                    "commodity_type": "physical|digital|download",
                    "price": [
                        {
                            "amount": 12,
                            "currency": "USD",
                            "includes_tax": true
                        }
                    ].
                    "bulk_pricing": [
                        {
                            "quantity_min": 10,
                            "quantity_max": 50,
                            "type": "price",
                            "amount": 10,
                            "id": 1
                        },
                        {
                            "quantity_min": 51,
                            "quantity_max": 100,
                            "type": "price",
                            "amount": 8,
                            "id": 2
                        }                            
                    ],
                    "variants": [
                        {
                            "cost_price": 12,
                            "price": 14,
                            "weight": 22,
                            "width": 40,
                            "height": 100,
                            "depth": 4,
                            "is_free_shipping": false,
                            "id": 156,
                            "product_id": 77,
                            "option_values": [
                                {
                                  "option_display_name": "Color",
                                  "label": "Color",
                                  "id": 107,
                                  "option_id": 124
                                }
                            ],
                            "calculated_price": 49.99
                        }
                    ],
                    "base_variant_id": 22
                    },                    
                    "relationships": {
                        "categories": {
                            "data": [
                                {
                                    "type": "category",
                                    "id": "8550c943-85c2-4239-a8a4-bfa255a38f08"
                                }
                            ]
                        },
                        "collections": {
                            "data": [
                                {
                                    "type": "collection",
                                    "id": "ced85f3a-f1d2-47b5-ada5-bcbc43eb59eb"
                                }
                            ]
                        },
                        "main_image": {
                            "data": {
                                "type": "main_image",
                                "id": "54ef64a7-8a43-4398-acf2-66aa3c038136"
                            }
                        }
                    },
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }

### Retrieve a single product (Phase 1) Role:Author  [GET /v1/products/{product_id}]

+ Parameters
    + product_id: 1 (required, string) - ID of the product in form of a string
    
+ Response 200

    [Products][]

+ Response 404 (application/json)

        { 
            "error": "Resource not found" 
        }

### Edit a product (Phase 2) Role:Manager [PATCH /v1/products/{product_id}]

+ Parameters
    + product_id: 1 (required, string) - ID of the product in form of a string
    
+ Request (application/json)

            {
                "name": "new name"
            }


+ Response 200

    [Products][]


+ Response 404 (application/json)

        { 
            "error": "Resource not found"
        }

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Delete a product (Phase 2) Role:Manager [DELETE /v1/products/{product_id}]

+ Parameters
    + product_id: 1 (required, string) - ID of the product in form of a string
    
+ Response 200

        { 
            "result": true
        }

### Create a product (Phase 2) Role:Manager [POST /v1/products]

+ Request (application/json)

                {
                    "name": "",
                    "description": "",
                    "commodity_type": "physical",
                    "price": [
                        {
                            "amount": 12,
                            "currency": "USD",
                            "includes_tax": false
                        }
                    ].
                    "bulk_pricing": [
                        {
                            "quantity_min": 10,
                            "quantity_max": 50,
                            "type": "price",
                            "amount": 10,
                            "id": 1
                        },
                        {
                            "quantity_min": 51,
                            "quantity_max": 100,
                            "type": "price",
                            "amount": 8,
                            "id": 2
                        }                            
                    ],
                    "variants": [
                        {
                            "cost_price": 12,
                            "price": 14,
                            "weight": 22,
                            "width": 40,
                            "height": 100,
                            "depth": 4,
                            "is_free_shipping": false,
                            "id": 156,
                            "option_values": [
                                {
                                  "option_display_name": "Color",
                                  "label": "Color",
                                  "id": 107,
                                  "option_id": 124
                                }
                            ],
                            "calculated_price": 49.99
                        }
                    ],
                    "base_variant_id": 22
                    },                    
                    "relationships": {
                        "categories": {
                            "data": [
                                {
                                    "type": "category",
                                    "id": "8550c943-85c2-4239-a8a4-bfa255a38f08"
                                }
                            ]
                        },
                        "collections": {
                            "data": [
                                {
                                    "type": "collection",
                                    "id": "ced85f3a-f1d2-47b5-ada5-bcbc43eb59eb"
                                }
                            ]
                        },
                        "main_image": {
                            "data": {
                                "type": "main_image",
                                "id": "54ef64a7-8a43-4398-acf2-66aa3c038136"
                            }
                        }
                    }
                }
    
    
+ Response 201

    [Products][]

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

# Products Collection [/v1/products{?q}]

Get a list of all products.

+ Model (application/json)

    + Body
    
                {
                  "products": [
                        {
                          "id":"11111",
                          "name":"product name here"
                        }
                        ],
                        "paging": {
                            "total": 25,
                            "page": 1,
                            "pages": 3
                        }
                    }

### List all products (Phase 1) Role:Author [GET /v1/products{?q}]

+ Parameters

    + q (optional, string) ... Keyword query to search for products.


+ Response 200

    [Products Collection][]



# Group Variants
Group of all (product) variant-related resources.

## Variants [/v1/variants/{variant_id}]

The variant object.

+ Model (application/json)

    + Body
                    
                {
                    "cost_price": 12,
                    "price": 14,
                    "weight": 22,
                    "width": 40,
                    "height": 100,
                    "is_free_shipping": false,
                    "purchasing_disabled": false,
                    "inventory_level": 50,
                    "inventory_warning_level": 10,
                    "id": 156,
                    "product_id": 77,
                    "option_values": [
                        {
                            "option_display_name": "Color",
                            "label": "Color",
                            "id": 107,
                            "option_id": 124
                        }
                    ],
                    "calculated_price": 49.99
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }

### Retrieve a single variant (Phase 2) Role:Author [GET /v1/variants/{variant_id}]

+ Parameters
    + variant_id: 1 (required, string) - ID of the variant in form of a string
    
+ Response 200

    [Variants][]

+ Response 404 (application/json)

        { 
            "error": "Resource not found" 
        }

### Edit a variant (Phase 2) Role:Manager [PATCH /v1/variants/{variant_id}]

+ Parameters
    + variant_id: 1 (required, string) - ID of the variant in form of a string
    
+ Request (application/json)

            {
                "name": "new name"
            }


+ Response 200

    [Products][]


+ Response 404 (application/json)

        { 
            "error": "Resource not found"
        }

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Delete a variant (Phase 2) Role:Manager [DELETE /v1/variants/{variant_id}]

+ Parameters
    + variant_id: 1 (required, string) - ID of the variant in form of a string
    
+ Response 200

        { 
            "result": true
        }

### Create a variant (Phase 2) Role:Manager [POST /v1/variants]

+ Request (application/json)

                {
                    "cost_price": 12,
                    "price": 14,
                    "weight": 22,
                    "width": 40,
                    "height": 100,
                    "is_free_shipping": false,
                    "purchasing_disabled": false,
                    "inventory_level": 50,
                    "inventory_warning_level": 10,
                    "id": 156,
                    "product_id": 77,
                    "option_values": [
                        {
                            "option_display_name": "Color",
                            "label": "Color",
                            "id": 107,
                            "option_id": 124
                        }
                    ],
                    "calculated_price": 49.99
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }
                
    
+ Response 201

    [Variants][]

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }



# Group Pricelists
Group of all pricelist-related resources.

## Pricelists [/v1/pricelists/{pricelist_id}]

The pricelists object.

+ Model (application/json)

    + Body
        
                {
                    "id": "1111111",
                    "name": "",
                    "description": "",
                    "commodity_type": "physical|digital|download",
                    "price": [
                        {
                            "amount": 12,
                            "currency": "USD",
                            "includes_tax": true
                        }
                    ].
                    "bulk_pricing": [
                        {
                            "quantity_min": 10,
                            "quantity_max": 50,
                            "type": "price",
                            "amount": 10,
                            "id": 1
                        },
                        {
                            "quantity_min": 51,
                            "quantity_max": 100,
                            "type": "price",
                            "amount": 8,
                            "id": 2
                        }                            
                    ],
                    "variants": [
                        {
                            "cost_price": 12,
                            "price": 14,
                            "weight": 22,
                            "width": 40,
                            "height": 100,
                            "depth": 4,
                            "is_free_shipping": false,
                            "id": 156,
                            "product_id": 77,
                            "option_values": [
                                {
                                  "option_display_name": "Color",
                                  "label": "Color",
                                  "id": 107,
                                  "option_id": 124
                                }
                            ],
                            "calculated_price": 49.99
                        }
                    ],
                    "base_variant_id": 22
                    },                    
                    "relationships": {
                        "categories": {
                            "data": [
                                {
                                    "type": "category",
                                    "id": "8550c943-85c2-4239-a8a4-bfa255a38f08"
                                }
                            ]
                        },
                        "collections": {
                            "data": [
                                {
                                    "type": "collection",
                                    "id": "ced85f3a-f1d2-47b5-ada5-bcbc43eb59eb"
                                }
                            ]
                        },
                        "main_image": {
                            "data": {
                                "type": "main_image",
                                "id": "54ef64a7-8a43-4398-acf2-66aa3c038136"
                            }
                        }
                    },
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }

### Retrieve a single pricelist (Phase 2) Role:Author [GET /v1/pricelists/{pricelist_id}]

+ Parameters
    + pricelist_id: 1 (required, string) - ID of the pricelist in form of a string
    
+ Response 200

    [Pricelists][]

+ Response 404 (application/json)

        { 
            "error": "Resource not found" 
        }

### Edit a pricelist (Phase 2) Role:Admin [PATCH /v1/pricelists/{pricelist_id}]

+ Parameters
    + pricelist_id: 1 (required, string) - ID of the pricelist in form of a string
    
+ Request (application/json)

            {
                "name": "new name"
            }


+ Response 200

    [Products][]


+ Response 404 (application/json)

        { 
            "error": "Resource not found"
        }

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Delete a pricelist (Phase 2) Role:Admin [DELETE /v1/pricelists/{pricelist_id}]

+ Parameters
    + pricelist_id: 1 (required, string) - ID of the pricelist in form of a string
    
+ Response 200

        { 
            "result": true
        }

### Create a pricelist (Phase 2) Role:Admin [POST /v1/pricelists]

+ Request (application/json)

                {
                    "name": "",
                    "description": "",
                    "commodity_type": "physical",
                    "price": [
                        {
                            "amount": 12,
                            "currency": "USD",
                            "includes_tax": false
                        }
                    ].
                    "bulk_pricing": [
                        {
                            "quantity_min": 10,
                            "quantity_max": 50,
                            "type": "price",
                            "amount": 10,
                            "id": 1
                        },
                        {
                            "quantity_min": 51,
                            "quantity_max": 100,
                            "type": "price",
                            "amount": 8,
                            "id": 2
                        }                            
                    ],
                    "variants": [
                        {
                            "cost_price": 12,
                            "price": 14,
                            "weight": 22,
                            "width": 40,
                            "height": 100,
                            "depth": 4,
                            "is_free_shipping": false,
                            "id": 156,
                            "option_values": [
                                {
                                  "option_display_name": "Color",
                                  "label": "Color",
                                  "id": 107,
                                  "option_id": 124
                                }
                            ],
                            "calculated_price": 49.99
                        }
                    ],
                    "base_variant_id": 22
                    },                    
                    "relationships": {
                        "categories": {
                            "data": [
                                {
                                    "type": "category",
                                    "id": "8550c943-85c2-4239-a8a4-bfa255a38f08"
                                }
                            ]
                        },
                        "collections": {
                            "data": [
                                {
                                    "type": "collection",
                                    "id": "ced85f3a-f1d2-47b5-ada5-bcbc43eb59eb"
                                }
                            ]
                        },
                        "main_image": {
                            "data": {
                                "type": "main_image",
                                "id": "54ef64a7-8a43-4398-acf2-66aa3c038136"
                            }
                        }
                    }
                }
    
    
+ Response 201

    [Products][]

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }



# Group Campaigns
Group of all campaign-related resources.

## Campaigns [/v1/campaigns/{campaign_id}]

The Campaign object.

+ Model (application/json)

    + Body
        
                {
                    "id": "1111111",
                    "campaign_type": "scheduled",
                    "name": "Your campaign name",
                    "mail_type": "mail",
                    "recipient_type": "single",
                    "recipients": {
                        "recipient_id": "",
                        "list_type": "upload",
                        "list_id": "123",
                        "recipient_count": "435"
                    },
                    "template": {
                        "template_id": "11wac8a65e64c994c4416d8u0",
                        "template_name": "Big 15% off sale"
                    },
                    "settings": {
                        "from_address": {
                            "id": "11111111111111",
                            "name": "Joe Smith",
                            "company": "Acme Corp",
                            "phone": "3135551111",
                            "email": "joe@acme.com",
                            "address_1": "123 Main St",
                            "address_2": "Apt 2",
                            "address_city": "Boston",
                            "address_state": "MA",
                            "address_zip": "555555",
                            "address_country": "US",
                            "date_created": "2015-04-27T18:52:44.725Z"
                        },
                        "scheduled_send_date": "2017-05-06",
                        "scheduled_send_time": "T18:52:44.725Z",
                        "actual_send_datetime": "2015-04-27T18:52:44.725Z",
                        "postage_type": "Standard",
                        "order_id": "aaaaaaaaa",
                        "status": "completed"
                    },
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }

### Retrieve a single campaign (Phase 1) Role:Author [GET /v1/campaigns/{campaign_id}]

+ Parameters
    + campaign_id: 1 (required, string) - ID of the Campaign in form of a string
    
+ Response 200

    [Campaigns][]

+ Response 404 (application/json)

        { 
            "error": "Resource not found" 
        }

### Edit a campaign (Phase 1) Role:Author [PATCH /v1/campaigns/{campaign_id}]

+ Parameters
    + campaign_id: 1 (required, string) - ID of the Campaign in form of a string
    
+ Request (application/json)

            {
                "settings": 
                    {
                        "scheduled_send_date": "2017-05-06",
                        "scheduled_send_time": "T18:52:44.725Z"
                    }
            }


+ Response 200

    [Campaigns][]


+ Response 404 (application/json)

        { 
            "error": "Resource not found"
        }

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Delete a campaign (Phase 1) Role:Author [DELETE /v1/campaigns/{campaign_id}]

+ Parameters
    + campaign_id: 1 (required, string) - ID of the Campaign in form of a string
    
+ Response 200

        { 
            "result": true
        }

### Create a campaign (Phase 1) Role:Author [POST /v1/campaigns]

+ Request (application/json)

            {
                "id": "1111111",
                "campaign_type": "scheduled",
                "name": "Your campaign name",
                "mail_type": "mail",
                "recipient_type": "single",
                "recipients": {
                    "recipient_id": "",
                    "list_type": "upload",
                    "list_id": "123",
                    "recipient_count": "435"
                },
                "template": {
                    "template_id": "11wac8a65e64c994c4416d8u0",
                    "template_name": "Big 15% off sale"
                },
                "settings": {
                    "from_address": {
                        "id": "11111111111111",
                        "name": "Joe Smith",
                        "company": "Acme Corp",
                        "phone": "3135551111",
                        "email": "joe@acme.com",
                        "address_1": "123 Main St",
                        "address_2": "Apt 2",
                        "address_city": "Boston",
                        "address_state": "MA",
                        "address_zip": "555555",
                        "address_country": "US",
                        "date_created": "2015-04-27T18:52:44.725Z"
                    },
                    "scheduled_send_date": "2017-05-06",
                    "scheduled_send_time": "T18:52:44.725Z",
                    "actual_send_datetime": "2015-04-27T18:52:44.725Z",
                    "postage_type": "Standard",
                    "order_id": "aaaaaaaaa",
                    "status": "completed"
                },
                "date_created": "2015-09-15T14:38:16+00:00",
                "last_changed": "2015-09-15T14:38:16+00:00",
                "created_by": "",
                "modified_by": ""
            }
            
            
+ Response 201

    [Campaigns][]

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Schedule a campaign (Phase 1) Role:Manager [POST /v1/campaigns/{campaign_id}/actions/schedule]

+ Parameters
    + campaign_id: 1 (required, string) - ID of the Campaign in form of a string
    
+ Request (application/json)

        {
            "campaign_id": "1111111"
        }
                
+ Response 200

        { 
            "settings": {
                "scheduled_send_date": "2017-05-06",
                "scheduled_send_time": "T18:52:44.725Z",
            }
        }
        
+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Unschedule a campaign (Phase 1) Role:Manager [POST /v1/campaigns/{campaign_id}/actions/unschedule]

+ Parameters
    + campaign_id: 1 (required, string) - ID of the Campaign in form of a string
    
+ Request (application/json)

        {
            "campaign_id": "1111111"
        }
                
+ Response 200

        { 
            "result": true
        }
        
+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Replicate a campaign (Phase 2) Role:Author [POST /campaign/{campaign_id}/actions/replicate]

+ Request (application/json)

        {
            "campaign_id": "1111111"
        }
                
+ Response 200

        { 
            "id": ""
        }
        
+ Response 400 (application/json)

        { 
            "error": "Resource failed"
        }

# Campaigns Collection [/v1/campaigns{?q}]

Get a list of all campaigns.

+ Model (application/json)

    + Body
    
                {
                  "campaigns": [
                        {
                          "id":"11111",
                          "campaign_type":"scheduled",
                          "name":"Spring Time in the Summer Campaign",
                          "mail_type":"mail",
                          "recipient_type":"single",
                          "date_created":"2017-09-15T14:38:16+00:00",
                          "last_changed":"2017-09-15T14:38:16+00:00",
                          "created_by":"",
                          "modified_by":"",
                          "recipient_id":"",
                          "list_type":"upload",
                          "list_id":"123",
                          "recipient_count":"435",
                          "template_id":"678",
                          "template_name":"Big 15% off sale",
                          "from_id": "",
                          "from_company":"Acme Corp",
                          "invoice_total": "1234.00",
                          "scheduled_send_datetime":"2017-12-27T18:52:44.725Z",
                          "actual_send_datetime":"",
                          "postage_type":"Standard",
                          "order_id":"123",
                          "status": "processing"
                        },
                        {
                          "id":"22222",
                          "campaign_type":"scheduled",
                          "name":"Be Our Guest! Winter Campaign",
                          "mail_type":"email",
                          "recipient_type":"single",
                          "date_created":"2017-08-15T14:38:16+00:00",
                          "last_changed":"2017-08-15T14:38:16+00:00",
                          "created_by":"",
                          "modified_by":"",
                          "recipient_id":"",
                          "list_type":"upload",
                          "list_id":"123",
                          "recipient_count":"435",
                          "template_id":"678",
                          "template_name":"Big 15% off sale",
                          "from_id": "",
                          "from_company":"Aperture Laboratories",
                          "invoice_total": "10873.00",
                          "scheduled_send_datetime":"2017-08-27T18:52:44.725Z",
                          "actual_send_datetime":"2017-08-27T18:52:44.725Z",
                          "postage_type":"Standard",
                          "order_id":"234",
                          "status": "completed"
                        },
                        {
                          "id":"33333",
                          "campaign_type":"triggered",
                          "name":"Lets Go to the Movies and Get Popcorn Campaign",
                          "mail_type":"mail",
                          "recipient_type":"single",
                          "date_created":"2017-07-15T14:38:16+00:00",
                          "last_changed":"2017-07-15T14:38:16+00:00",
                          "created_by":"",
                          "modified_by":"",
                          "recipient_id":"",
                          "list_type":"upload",
                          "list_id":"123",
                          "recipient_count":"435",
                          "template_id":"678",
                          "template_name":"Big 15% off sale",
                          "from_id": "",
                          "from_company":"Running Fumble Systems",
                          "invoice_total": "721.00",
                          "scheduled_send_datetime":"2017-04-27T18:52:44.725Z",
                          "actual_send_datetime":"2017-04-27T18:52:44.725Z",
                          "postage_type":"Standard",
                          "order_id":"345",
                          "status": "completed"
                        }
                        ],
                        "paging": {
                            "total": 25,
                            "page": 1,
                            "pages": 3
                        }
                    }

### List all campaigns (Phase 1) Role:Author [GET /v1/campaigns{?q}]

+ Parameters

    + q (optional, string) ... Keyword query to search for campaigns.


+ Response 200

    [Campaigns Collection][]




# Group Lists
Group of all list-related resources.

## Lists [/v1/lists/{list_id}]

The List object.

+ Model (application/json)

    + Body
    
            {
                "id": "44dseq098531",
                "name": "Happy People List",
                "list_type": "mail",
                "total_count": 0,
                "campaign_last_sent": "",
                "last_mem_add_date": "2017-09-23T17:27:16+00:00",
                "date_created": "2017-09-15T14:38:16+00:00",
                "last_changed": "2017-09-15T14:38:16+00:00",
                "created_by": "",
                "modified_by": ""
            }

### Retrieve a single list (Phase 1) Role:Author [GET /v1/lists/{list_id}]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    
+ Response 200

    [Lists][]

+ Response 404 (application/json)

        { 
            "error": "Resource not found" 
        }

### Edit a list (Phase 1) Role:Manager [PATCH /v1/lists/{list_id}]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    
+ Request (application/json)

            {
                "name": "My list name"
            }


+ Response 200

    [Lists][]


+ Response 404 (application/json)

        { 
            "error": "Resource not found"
        }

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Delete a list (Phase 1) Role:Manager [DELETE /v1/lists/{list_id}]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    
+ Response 200

        { 
            "result": true
        }

### Create a list (Phase 1) Role:Manager [POST /v1/lists]

+ Request (application/json)

            {
                "name": "My list name",
                "list_type": "mail",
                "active": false
            }
            
            
+ Response 201

    [Lists][]

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

# Lists Collection [/v1/lists{?q}]

Get a list of all lists.

+ Model (application/json)

    + Body
    
            {
                "lists": [
                {
                    "id": "57afe96172",
                    "name": "Spring Sale for All New Customers",
                    "list_type": "mail",
                    "total_count": 1203,
                    "campaign_last_sent": "2017-10-15T17:27:16+00:00",
                    "last_mem_add_date": "2017-09-15T17:27:16+00:00",
                    "date_created": "2017-09-15T14:38:16+00:00",
                    "last_changed": "2017-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "34sde96994",
                    "name": "Flash Sale for Prospects Mailer List", 
                    "list_type": "mail",
                    "total_count": 28913,
                    "campaign_last_sent": "2017-06-15T17:27:16+00:00",
                    "last_mem_add_date": "2017-04-15T17:27:16+00:00",
                    "date_created": "2017-04-15T14:38:16+00:00",
                    "last_changed": "2017-04-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "89afe33345",
                    "name": "Winter Tires Promotion Sale List",
                    "list_type": "mail",
                    "total_count": 9203,
                    "campaign_last_sent": "2017-04-15T17:27:16+00:00",
                    "last_mem_add_date": "2017-03-15T17:27:16+00:00",
                    "date_created": "2017-03-15T14:38:16+00:00",
                    "last_changed": "2017-03-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "11afe04332",
                    "name": "Merry Christmas Company List",
                    "list_type": "mail",
                    "total_count": 23703,
                    "campaign_last_sent": "",
                    "last_mem_add_date": "2017-02-15T17:27:16+00:00",
                    "date_created": "2017-02-15T14:38:16+00:00",
                    "last_changed": "2017-02-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "89afe96337",
                    "name": "Fall/Winter Mailing List",
                    "list_type": "mail",
                    "total_count": 11778,
                    "campaign_last_sent": "2017-02-15T17:27:16+00:00",
                    "last_mem_add_date": "2017-01-15T17:27:16+00:00",
                    "date_created": "2017-01-15T14:38:16+00:00",
                    "last_changed": "2017-01-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }
                ],
                "paging": {
                    "total": 10,
                    "page": 1,
                    "pages": 1
                }
            }

### List all lists (Phase 1) Role:Author [GET /v1/lists{?q}]

+ Parameters

    + q (optional, string) ... Keyword query to search for Lists.

+ Response 200

    [Lists Collection][]



# Group Members
Group of all member-related resources.

## Members [/v1/lists/{list_id}/members/{member_id}]

The Member object.

+ Model (application/json)

    + Body
    
                    {
                        "id": "2B101B68-10D4-11E7-AB82-141877516F6D",
                        "title": "Mr.",
                        "first_name": "Roger",
                        "middle_name": "Larry",
                        "last_name": "Smith",
                        "suffix": "Jr.",
                        "company": "Acme Corp",
                        "address_1": "123 Main St",
                        "address_2": "Apt 2",
                        "address_city": "Boston",
                        "address_state": "MA",
                        "address_zip": "555555",
                        "home_phone": "5555555555",
                        "work_phone": "4444444444",
                        "email_address": "mcvankab@abcorp.com",
                        "stats": 
                        {
                            "avg_open_rate": 0,
                            "avg_click_rate": 0
                        },
                        "list_id": "57afe96172",
                        "list_name": "Winter Tires",
                        "date_created": "2017-09-15T14:38:16+00:00",
                        "last_changed": "2017-09-15T14:38:16+00:00",
                        "created_by": "",
                        "modified_by": ""
                    }

### Retrieve a single list member (Phase 1) Role:Author [GET /v1/lists/{list_id}/members/{member_id}]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    + member_id: 1 (required, string) - ID of the Member in form of a string
    
+ Response 200

    [Members][]

+ Response 404 (application/json)

        { 
            "error": "Resource not found" 
        }

### Add a member to list (Phase 1) Role:Manager [POST /v1/lists/{list_id}/members/]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    
    
+ Request (application/json)

            {
                "title": "Mr.",
                "first_name": "Roger",
                "middle_name": "Lawrence",
                "last_name": "Smith",
                "suffix": "Jr.",
                "company": "Acme Corp",
                "phone": "3135551111",
                "address_1": "123 Main St",
                "address_2": "Apt 2",
                "address_city": "Boston",
                "address_state": "MA",
                "address_zip": "555555",
                "home_phone": "5555555555",
                "work_phone": "4444444444",
                "email_address": "mcvanka@abcorp.com",
                "list_id": "57afe96172",
                "created_by": "",
            }
            
            
+ Response 201

    [Members][]

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Edit a member (Phase 1) Role:Manager [PATCH /v1/lists/{list_id}/members/{member_id}]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    + member_id: 1 (required, string) - ID of the Member in form of a string
    
+ Request (application/json)

            {
                "email_address": "newemailaddress@abc.com"
            }


+ Response 200

    [Members][]


+ Response 404 (application/json)

        { 
            "error": "Resource not found"
        }

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Delete a member (Phase 1) Role:Manager [DELETE /v1/lists/{list_id}/members/{member_id}]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    + member_id: 1 (required, string) - ID of the Member in form of a string
    
+ Response 200

        { 
            "result": true
        }

### Get member activity (Phase 1) Role:Author [GET /v1/lists/{list_id}/members/{member_id}/activity]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    + member_id: 1 (required, string) - ID of the Member in form of a string
    
+ Request (application/json)

        {
            "list_id": "57afe96172",
            "member_id": "aaaaaaaaaaaaaaaa"
        }
                
+ Response 200

        {
          "activity": [
            {
              "action": "purl",
              "timestamp": "2015-09-15T19:15:47+00:00",
              "campaign_id": "42694e9e57",
              "campaign_name": "My Campaign 1"
            },
            {
              "action": "purl",
              "timestamp": "2015-09-15T19:05:51+00:00",
              "campaign_id": "22394e9e89",
              "campaign_name": "My Campaign 2"
            },
            {
              "action": "purl",
              "timestamp": "2015-09-02T17:16:41+00:00",
              "campaign_id": "42694e9e57",
              "campaign_name": "My Campaign 1"
            },
            {
              "action": "purl",
              "timestamp": "2015-07-13T18:14:09+00:00",
              "campaign_id": "42694e9e57",
              "campaign_name": "My Campaign 1"
            }
          ],
          "list_id": "57afe96172",
          "total_items": 4
        }

        
+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Import members to a list (Phase 1) Role:Manager [POST /v1/lists/{list_id}/members/import]

For use by public users uploading a fixed file format and not using the custom file mapping feature.

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    
+ Request (application/json)

            {
                "members": [
                {
                    "title": "Mr.",
                    "first_name": "Roger",
                    "middle_name": "Larry",
                    "last_name": "Smith",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Boston",
                    "address_state": "MA",
                    "address_zip": "555555",
                    "home_phone": "Roger",
                    "work_phone": "Roger",
                    "email_address": "joe.smith@acme.com",
                    "list_id": "57afe96172",
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "title": "Mr.",
                    "first_name": "Roger",
                    "middle_name": "Larry",
                    "last_name": "Smith",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Boston",
                    "address_state": "MA",
                    "address_zip": "555555",
                    "home_phone": "Roger",
                    "work_phone": "Roger",
                    "email_address": "joe.smith@acme.com",
                    "list_id": "57afe96172",
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }                
            ]
        }
                
+ Response 200

            {
                "FailureDetails": [],
                "TotalUniqueMembersSubmitted": 0,
                "TotalExistingMembers": 0,
                "TotalNewMembers": 0,
                "DuplicateMembersInSubmission": []
            }
        
+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Import members step one (Phase 1) Role:Manager [POST /v1/lists/{list_id}/members/import/stepone]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    
+ Request (application/json)

            {
                "members": [
                {
                    "title": "Mr.",
                    "first_name": "Roger",
                    "middle_name": "Larry",
                    "last_name": "Smith",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Boston",
                    "address_state": "MA",
                    "address_zip": "555555",
                    "home_phone": "Roger",
                    "work_phone": "Roger",
                    "email_address": "joe.smith@acme.com",
                    "list_id": "57afe96172",
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "title": "Mr.",
                    "first_name": "Roger",
                    "middle_name": "Larry",
                    "last_name": "Smith",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Boston",
                    "address_state": "MA",
                    "address_zip": "555555",
                    "home_phone": "Roger",
                    "work_phone": "Roger",
                    "email_address": "joe.smith@acme.com",
                    "list_id": "57afe96172",
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }                
            ]
        }
            
+ Response 200

            {
                "FailureDetails": [],
                "TotalUniqueMembersSubmitted": 0,
                "TotalExistingMembers": 0,
                "TotalNewMembers": 0,
                "DuplicateMembersInSubmission": []
            }
        
+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Import map members (Phase 1) Role:Manager [POST /v1/lists/{list_id}/members/import/steptwo]

+ Parameters
    + list_id: 1 (required, string) - ID of the stage table List in form of a string
    
+ Request (application/json)

            {
                "members": [
                {
                    "title": "Mr.",
                    "first_name": "Roger",
                    "middle_name": "Larry",
                    "last_name": "Smith",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Boston",
                    "address_state": "MA",
                    "address_zip": "555555",
                    "home_phone": "Roger",
                    "work_phone": "Roger",
                    "email_address": "joe.smith@acme.com",
                    "list_id": "57afe96172",
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "title": "Mr.",
                    "first_name": "Roger",
                    "middle_name": "Larry",
                    "last_name": "Smith",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Boston",
                    "address_state": "MA",
                    "address_zip": "555555",
                    "home_phone": "Roger",
                    "work_phone": "Roger",
                    "email_address": "joe.smith@acme.com",
                    "list_id": "57afe96172",
                    "date_created": "2015-09-15T14:38:16+00:00",
                    "last_changed": "2015-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }                
            ]
        }
            
                
+ Response 200

            {
                "FailureDetails": [],
                "TotalUniqueMembersSubmitted": 0,
                "TotalExistingMembers": 0,
                "TotalNewMembers": 0,
                "DuplicateMembersInSubmission": []
            }
        
+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Export members (Phase 1) Role:Author [GET /v1/lists/{list_id}/members/export]

+ Parameters
    + list_id: 1 (required, string) - ID of the List in form of a string
    

+ Response 200

    [Members Collection][]
        
+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

# Members Collection [/v1/lists/{list_id}/members{?q}]

Get a list of all list members.

+ Model (application/json)

    + Body
    
            {
            "members": [
                {
                    "id": "2B101B68-10D4-1111-AB82-141877512345",
                    "title": "Mr.",
                    "first_name": "Seamus",
                    "middle_name": "Lawrence",
                    "last_name": "Murphy",
                    "suffix": "Jr.",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Boston",
                    "address_state": "MA",
                    "address_zip": "555555",
                    "home_phone": "Roger",
                    "work_phone": "Roger",
                    "email_address": "urist.mcvankab+3@freddiesjokes.com",
                    "list_type": "email",
                    "list_id": "57afe96172",
                    "list_name": "Fun Fun Fun",
                    "date_created": "2017-09-13T14:38:16+00:00",
                    "last_changed": "2017-09-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "2B101B68-10D4-2222-AB82-141877523456",
                    "title": "Ms.",
                    "first_name": "James",
                    "middle_name": "Smith",
                    "last_name": "Rea",
                    "suffix": "",
                    "company": "Acme Corp",
                    "address_1": "123 Main St",
                    "address_2": "Apt 2",
                    "address_city": "Bloomfield Hills",
                    "address_state": "MI",
                    "address_zip": "48301",
                    "home_phone": "123-456-7890",
                    "work_phone": "123-456-7890",
                    "email_address": "urist.mcvankab+3@freddiesjokes.com",
                    "list_type": "email",
                    "list_id": "57afe96172",
                    "list_name": "Fun Fun Fun",
                    "date_created": "2017-08-15T14:38:16+00:00",
                    "last_changed": "2017-08-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "2B101B68-10D4-3333-AB82-141877534567",
                    "title": "Mr.",
                    "first_name": "Daniel",
                    "middle_name": "Larry",
                    "last_name": "Kirkman",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "123 Pennyslvania Ave.",
                    "address_2": "",
                    "address_city": "Washington",
                    "address_state": "DC",
                    "address_zip": "12345",
                    "home_phone": "123-456-7890",
                    "work_phone": "123-456-7890",
                    "email_address": "urist.mcvankab+3@freddiesjokes.com",
                    "list_type": "email",
                    "list_id": "57afe96172",
                    "list_name": "Fun Fun Fun",
                    "date_created": "2017-05-15T14:38:16+00:00",
                    "last_changed": "2017-05-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "2B101B68-10D4-4444-AB82-141877545678",
                    "title": "Mr.",
                    "first_name": "Joshua",
                    "middle_name": "John",
                    "last_name": "Headapohl",
                    "suffix": "",
                    "company": "Acme Corp",
                    "address_1": "1346 Washington Blvd",
                    "address_2": "",
                    "address_city": "Birmingham",
                    "address_state": "MI",
                    "address_zip": "48009",
                    "home_phone": "123-456-7890",
                    "work_phone": "123-456-7890",
                    "email_address": "urist.mcvankab+3@freddiesjokes.com",
                    "list_type": "email",
                    "list_id": "57afe96172",
                    "list_name": "Fun Fun Fun",
                    "date_created": "2017-04-15T14:38:16+00:00",
                    "last_changed": "2017-04-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "2B101B68-10D4-5555-AB82-141877556789",
                    "title": "Mr.",
                    "first_name": "Christina",
                    "middle_name": "Danae",
                    "last_name": "Bergstrom",
                    "suffix": "jr",
                    "company": "Acme Corp",
                    "address_1": "Trailwood Path",
                    "address_2": "Unit D",
                    "address_city": "Bloomfield Hills",
                    "address_state": "MI",
                    "address_zip": "48301",
                    "home_phone": "123-456-7890",
                    "work_phone": "123-456-7890",
                    "email_address": "urist.mcvankab+3@freddiesjokes.com",
                    "list_type": "email",
                    "list_id": "57afe96172",
                    "list_name": "Fun Fun Fun",
                    "date_created": "2017-04-15T14:38:16+00:00",
                    "last_changed": "2017-04-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                },
                {
                    "id": "2B101B68-10D4-6666-AB82-141877567890",
                    "title": "Mrs.",
                    "first_name": "Vivan",
                    "middle_name": "",
                    "last_name": "Potter",
                    "suffix": "",
                    "company": "Acme Corp",
                    "address_1": "Franklin Rd",
                    "address_2": "",
                    "address_city": "Bloomfield HIlls",
                    "address_state": "MI",
                    "address_zip": "48301",
                    "home_phone": "123-456-7890",
                    "work_phone": "123-456-7890",
                    "email_address": "urist.mcvankab+3@freddiesjokes.com",
                    "list_type": "email",
                    "list_id": "57afe96172",
                    "list_name": "Fun Fun Fun",
                    "date_created": "2017-03-15T14:38:16+00:00",
                    "last_changed": "2017-03-15T14:38:16+00:00",
                    "created_by": "",
                    "modified_by": ""
                }],
                "paging": {
                    "total": 295,
                    "page": 1,
                    "pages": 15
                }
            }

### List all members of a list (Phase 1) Role:Author [GET /v1/lists/{list_id}/members{?q}]

+ Parameters

    + q (optional, string) ... Keyword query to search for members.

+ Response 200

    [Members Collection][]



# Group Templates
Group of all template-related resources.

## Templates [/v1/templates/{template_id}]

The Templates object.

+ Model (application/json)

    + Body
    

            {
                "id": "000000000000000000126",
                "template_type": "directmail",
                "template_name": "Maintenance Combo",
                "template_number": 100,
                "size": "6 x 8",
                "thumbnail": "http://chryslerondemandsmart.com/Assets/Templates/Thumbnail/139_Maintenance_Combo_2017.jpg",
                "preview": "http://chryslerondemandsmart.com/Assets/Templates/preview/139_Maintenance_Combo_2017.jpg",
                "highres": "http://chryslerondemandsmart.com/Assets/Templates/highres/139_Maintenance_Combo_2017.jpg",
                "screen": "http://chryslerondemandsmart.com/Assets/Templates/screen/139_Maintenance_Combo_2017.jpg",
                "folders": [{
                    "folder_id": "0000000000000000001",
                    "folder_name": "Brakes"
                }],
                "options": [{
                    "format": "directmail",
                        "pricing": [{
                                "quantity": "1-10,000",
                                "price": "$0.45/piece"
                            },
                            {
                                "quantity": "10,001-25,000",
                                "price": "$0.39/piece"
                            },
                            {
                                "quantity": "25,001-50,000",
                                "price": "$0.28/piece"
                            },
                            {
                                "quantity": "50,001 +",
                                "price": "$0.21/piece"
                            }
                        ]
                    },
                    {
                        "format": "printship",
                        "pricing": [{
                            "quantity": "1-20,000",
                            "price": "$0.21/piece"
                        }]
                    },
                    {
                        "format": "download",
                        "pricing": [{
                            "quantity": "Any",
                            "price": "$0.03/piece"
                        }]
                    }
                ],
                "active": true,
                "date_created": "2017-09-15T14:38:16+00:00",
                "last_changed": "2017-09-15T14:38:16+00:00",
                "created_by": "",
                "modified_by": ""
            }

### Retrieve a single template (Phase 1) Role:Author [GET /v1/templates/{template_id}]

+ Parameters
    + template_id: 1 (required, string) - ID of the Template in form of a string
    
+ Response 200

    [Templates][]

+ Response 404 (application/json)

        { 
            "error": "Resource not found" 
        }

### DUPLICATE Retrieve a single coupon template [GET /v1/templates/coupons/{template_id}]

+ Parameters
    + template_id: 1 (required, string) - ID of the Template in form of a string
    
+ Response 200

            {
                "id": "000000000000000000406",
                "template_type": "coupon",
                "template_name": "Tire Rotation",
                "template_number": "123",
                "size": "3 x 4",
                "thumbnail": "http://www.chryslerondemandsmart.com/assets/Coupon_Offers/Thumbnail/CoD_Coupon_C417.jpg",
                "preview": "http://www.chryslerondemandsmart.com/assets/Coupon_Offers/preview/CoD_Coupon_C417.jpg",
                "highres": "http://www.chryslerondemandsmart.com/assets/Coupon_Offers/highres/CoD_Coupon_C417.jpg",
                "screen": "http://www.chryslerondemandsmart.com/assets/Coupon_Offers/screen/CoD_Coupon_C417.jpg",
                "folders": [
                    {
                        "folder_id": "0000000000000000001",
                        "folder_name": "Brakes"
                    },
                    {                                
                        "folder_id": "0000000000000000002",
                        "folder_name": "Brakes Two"
                    }                            
                ],                
                "options": [
                    {
                        "format": "",
                        "pricing": []
                    }
                ],
                "active": true,                    
                "date_created": "2017-09-15T14:38:16+00:00",
                "last_changed": "2017-09-15T14:38:16+00:00",
                "created_by": "",
                "modified_by": ""
            }

+ Response 404 (application/json)

        {
            "error": "Resource not found" 
        }
        
### Edit a template sections (Phase 2) Role:Author [PATCH /v1/templates/{template_id}/sections/{section_id}]

+ Parameters
    + template_id: 1 (required, string) - ID of the template in form of a string
    + section_id: 1 (required, string) - ID of the section in form of a string
    
+ Request (application/json)

            {
                "json": "{ \"type\": \"image\", \"id\": \"45wac8a65e64c994c4416d8u0\", \"name\": \"Coupon\", \"contentType\": \"coupon\", \"originX\": \"left\", \"originY\": \"top\", \"left\":40, \"top\": 310, \"width\": 788, \"height\": 712, \"fill\": \"#ffffff\", \"stroke\": null, \"strokeWidth\": 0, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"#eeeeee\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"crossOrigin\": \"anonymous\", \"alignX\": \"none\", \"alignY\": \"none\", \"meetOrSlice\": \"meet\", \"selectable\": true, \"allowDelete\": false, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"src\": \"..\assets\img\coupons\highres\coupon1.jpg\", \"filters\": [{ \"type\": \"Resize\", \"scaleX\": 0.34, \"scaleY\": 0.34, \"resizeType\": \"sliceHack\", \"lanczosLobes\": 3 }], \"resizeFilters\": [] }"
            }


+ Response 200

            {
                "json": "{ \"type\": \"image\", \"id\": \"45wac8a65e64c994c4416d8u0\", \"name\": \"Coupon\", \"contentType\": \"coupon\", \"originX\": \"left\", \"originY\": \"top\", \"left\":40, \"top\": 310, \"width\": 788, \"height\": 712, \"fill\": \"#ffffff\", \"stroke\": null, \"strokeWidth\": 0, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"#eeeeee\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"crossOrigin\": \"anonymous\", \"alignX\": \"none\", \"alignY\": \"none\", \"meetOrSlice\": \"meet\", \"selectable\": true, \"allowDelete\": false, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"src\": \"..\assets\img\coupons\highres\coupon1.jpg\", \"filters\": [{ \"type\": \"Resize\", \"scaleX\": 0.34, \"scaleY\": 0.34, \"resizeType\": \"sliceHack\", \"lanczosLobes\": 3 }], \"resizeFilters\": [] }"
            }


+ Response 404 (application/json)

        { 
            "error": "Resource not found"
        }

+ Response 400 (application/json)

        { 
            "error": "Resource modification failed"
        }

### Retrieve a single template sections (Phase 1) Role:Author [GET /v1/templates/{template_id}/sections]

+ Parameters

    + template_id (optional, string) ... .

+ Response 200

        {
            "panel": [
                {
                    "panel_id": "100111222333444555666",
                    "seq": 1,
                    "dimensions": {
                        "width": 2550,
                        "height": 1812
                    },
                    "section":
                    [
                        {
                            "id": "11wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"image\", \"id\": \"11wac8a65e64c994c4416d8u0\", \"name\": \"Background One\", \"contentType\": \"image\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 0, \"top\": 0, \"width\": 2550, \"height\": 1812, \"fill\": \"#ffffff\", \"stroke\": null, \"strokeWidth\": 0, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"crossOrigin\": \"\", \"alignX\": \"none\", \"alignY\": \"none\", \"meetOrSlice\": \"meet\", \"selectable\": false, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"src\": \"../assets/img/templates/highres/template_1_front.png\", \"filters\": [{ \"type\": \"Resize\", \"scaleX\": 0.34, \"scaleY\": 0.34, \"resizeType\": \"sliceHack\", \"lanczosLobes\": 3 }], \"resizeFilters\": [] }"
                        },                  
                        {
                            "id": "12wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"12wac8a65e64c994c4416d8u0\", \"name\": \"Coupon Expiration Date\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 636, \"top\": 250, \"width\": 90, \"height\": 18.08, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"MM-DD-YY\", \"fontSize\": 16, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "13wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"13wac8a65e64c994c4416d8u0\", \"name\": \"Coupon Dollars\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 435, \"top\": 159, \"width\": 100, \"height\": 160.46, \"fill\": \"#2963ad\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"00\", \"fontSize\": 106, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": \"0.8\", \"charSpacing\": \"-65\", \"textDecoration\": \"\", \"textAlign\": \"right\", \"textBackgroundColor\": \"\", \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "14wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"14wac8a65e64c994c4416d8u0\", \"name\": \"Coupon Cents\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 537, \"top\": 174, \"width\": 50, \"height\": 81.36, \"fill\": \"#2a67b2\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"00\", \"fontSize\": 40, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": \"0.8\", \"charSpacing\": \"-20\", \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {}  }"
                        },
                        {
                            "id": "15wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"15wac8a65e64c994c4416d8u0\", \"name\": \"Dealer Name\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 16, \"top\": 470, \"width\": 250, \"height\": 36.16, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"ANYTIME MOTORS\\nCHRYSLER DODGE JEEP RAM\", \"fontSize\": 16, \"fontWeight\": \"bold\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": \".9\", \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "16wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"16wac8a65e64c994c4416d8u0\", \"name\": \"Address 1\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 17, \"top\": 504, \"width\": 250, \"height\": 18.08, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"12345 Main Street\", \"fontSize\": 16, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "17wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"17wac8a65e64c994c4416d8u0\", \"name\": \"City, State Zip\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 17, \"top\": 522, \"width\": 250, \"height\": 18.08, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"City, ST 00000 \", \"fontSize\": 16, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "18wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"18wac8a65e64c994c4416d8u0\", \"name\": \"Phones\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 16, \"top\": 540, \"width\": 250, \"height\": 18.08, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"123-000-000 / 800-000-0000\", \"fontSize\": 16, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "19wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"19wac8a65e64c994c4416d8u0\", \"name\": \"Website\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 17, \"top\": 560, \"width\": 250.88, \"height\": 18.08, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"www.anytownmotors.com\", \"fontSize\": 16, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "20wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"20wac8a65e64c994c4416d8u0\", \"name\": \"Service Hours\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 287, \"top\": 488, \"width\": 210, \"height\": 18.08, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"Service Hours:\", \"fontSize\": 16, \"fontWeight\": \"bold\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": false, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "211wac8a65e64c994c4416d8u",
                            "json": "{ \"type\": \"textbox\", \"id\": \"211wac8a65e64c994c4416d8u\", \"name\": \"Hours Line 1\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 287, \"top\": 508, \"width\": 210, \"height\": 15.82, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"Monday . 00:00 a.m. - 00:00 p.m.\", \"fontSize\": 14, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "22wac8a65e64c994c4416d8u",
                            "json": "{ \"type\": \"textbox\", \"id\": \"22wac8a65e64c994c4416d8u\", \"name\": \"Hours Line 2\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 287, \"top\": 526, \"width\": 210, \"height\": 15.82, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"Tue-Fri. 00:00 a.m. - 00:00 p.m.\", \"fontSize\": 14, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "23wac8a65e64c994c4416d8u",
                            "json": "{ \"type\": \"textbox\", \"id\": \"23wac8a65e64c994c4416d8u\", \"name\": \"Hours Line 3\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 287, \"top\": 544, \"width\": 210, \"height\": 15.82, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"Saturday 00:00 a.m. - 00:00 p.m.\", \"fontSize\": 14, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "24wac8a65e64c994c4416d8u",
                            "json": "{ \"type\": \"textbox\", \"id\": \"24wac8a65e64c994c4416d8u\", \"name\": \"Hours Line 4\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 288, \"top\": 562, \"width\": 210, \"height\": 15.82, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"Sunday 00:00 a.m. - 00:00 p.m.\", \"fontSize\": 14, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": 1, \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        },
                        {
                            "id": "25wac8a65e64c994c4416d8u",
                            "json": "{ \"type\": \"textbox\", \"id\": \"25wac8a65e64c994c4416d8u\", \"name\": \"Disclaimer\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 637, \"top\": 490, \"width\": 207.99, \"height\": 99.44, \"fill\": \"#000000\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"@2017 FCA US LLC. All Rights Reserved.\\nChrysler, Dodge, Jeep, Ram, Mopar, SRT and HEMI are registered trademarks of\\nFCA US LLC FIAT is a registered trademark\\nof FCA Group Marketing S.p.A.\\nused under license by FCA US LLC.\", \"fontSize\": 10, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": \"1.3\", \"textDecoration\": \"\", \"textAlign\": \"center\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": false, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {} }"
                        }
                    ]
                },
                {
                    "panel_id": "200111222333444555666",
                    "seq": 2,
                    "dimensions": {
                        "width": 2550,
                        "height": 1812
                    },                    
                    "section": 
                    [
                        {
                            "id": "41wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"image\", \"id\": \"41wac8a65e64c994c4416d8u0\", \"name\": \"Background Two\", \"contentType\": \"image\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 0, \"top\": 0, \"width\": 2550, \"height\": 1812, \"fill\": \"#ffffff\", \"stroke\": null, \"strokeWidth\": 0, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"crossOrigin\": \"anonymous\", \"alignX\": \"none\", \"alignY\": \"none\", \"meetOrSlice\": \"meet\", \"selectable\": false, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"src\": \"../assets/img/templates/highres/template_1_back.png\", \"filters\": [{ \"type\": \"Resize\", \"scaleX\": 0.34, \"scaleY\": 0.34, \"resizeType\": \"sliceHack\", \"lanczosLobes\": 3 }], \"resizeFilters\": [] }"
                        },
                        {
                            "id": "42wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"42wac8a65e64c994c4416d8u0\", \"name\": \"Dollar Sign\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 600, \"top\": 25, \"width\": 50, \"height\": 81.36, \"fill\": \"#ffffff\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"$\", \"fontSize\": 50, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": \"0.8\", \"charSpacing\": \"0\", \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": false, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {}  }"
                        },                        
                        {
                            "id": "43wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"43wac8a65e64c994c4416d8u0\", \"name\": \"Dollars\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 630, \"top\": 10, \"width\": 50, \"height\": 81.36, \"fill\": \"#ffffff\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"00\", \"fontSize\": 120, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": \"0.8\", \"charSpacing\": \"-20\", \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {}  }"
                        },
                        {
                            "id": "44wac8a65e64c994c4416d8u0",
                            "json": "{ \"type\": \"textbox\", \"id\": \"44wac8a65e64c994c4416d8u0\", \"name\": \"Cents\", \"contentType\": \"text\", \"originX\": \"left\", \"originY\": \"top\", \"left\": 750, \"top\": 25, \"width\": 50, \"height\": 81.36, \"fill\": \"#ffffff\", \"stroke\": null, \"strokeWidth\": 1, \"strokeDashArray\": null, \"strokeLineCap\": \"butt\", \"strokeLineJoin\": \"miter\", \"strokeMiterLimit\": 10, \"scaleX\": 1, \"scaleY\": 1, \"angle\": 0, \"flipX\": false, \"flipY\": false, \"opacity\": 1, \"shadow\": null, \"visible\": true, \"clipTo\": null, \"backgroundColor\": \"\", \"fillRule\": \"nonzero\", \"globalCompositeOperation\": \"source-over\", \"transformMatrix\": null, \"skewX\": 0, \"skewY\": 0, \"text\": \"00\", \"fontSize\": 50, \"fontWeight\": \"normal\", \"fontFamily\": \"Anton\", \"fontStyle\": \"\", \"lineHeight\": \"0.8\", \"charSpacing\": \"-20\", \"textDecoration\": \"\", \"textAlign\": \"left\", \"textBackgroundColor\": \"\", \"charSpacing\": 0, \"minWidth\": 20, \"allowDelete\": false, \"selectable\": true, \"excludeFromExport\": false, \"lockMovementX\": true, \"lockMovementY\": true, \"lockScalingX\": true, \"lockScalingY\": true, \"styles\": {}  }"
                        },
                        {
                            "id": "45wac8a65e64c994c4416d8u0",
[...]
